<h1><%= link_to @manufacturer_name, root_path %></h1>
<div id="listings">
    <% @listings.each do |listing| %>
    <% if listing.thumbnail.attached? %>
    <%= link_to image_tag(listing.resized_thumbnail), listing %>
    <% else %>
    <div style="width: 240px; height: 135px">
        <%= link_to listing.title, listing %>
    </div>
    <% end %>
    <% end %>
</div>