<p id="notice"><%= notice %></p>

<p>
  <strong>Kind:</strong>
  <%= @kind_of_boat.kind %>
</p>

<%= link_to 'Edit', edit_kind_of_boat_path(@kind_of_boat) %> |
<%= link_to 'Back', kind_of_boats_path %>
