@import "listings.scss";
@import "manufacturers.scss";
@import "states.scss";
@import "actiontext.scss";
@import "pages.scss";
@import 'bootstrap/dist/css/bootstrap';

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-top: 80px;
  margin-bottom: 235px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 225px;
  background-color: #343A40;
}